/* DESIGN VARIABLES - Myntra SaaS Style */

:root {

    /* COLORS */
    --bg-main: #f5f6fa;
    --bg-card: #ffffff;
    --primary: #7c3aed;   /* Myntra-like purple */
    --primary-light: #ede9fe;

    --text-main: #111827;
    --text-light: #6b7280;

    --border: #e5e7eb;

    --success: #16a34a;
    --danger: #dc2626;

    /* SPACING */
    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 24px;
    --space-xl: 32px;

    /* RADIUS */
    --radius-sm: 6px;
    --radius-md: 10px;
    --radius-lg: 16px;

    /* SHADOW */
    --shadow-sm: 0 1px 2px rgba(0,0,0,0.05);
    --shadow-md: 0 4px 12px rgba(0,0,0,0.08);
    --shadow-lg: 0 10px 25px rgba(0,0,0,0.12);

    /* FONT */
    --font-sm: 12px;
    --font-md: 14px;
    --font-lg: 18px;
    --font-xl: 24px;

}